<div class="row">
  <div class="col-xs-12">
    <img [src]="wear.imagePath" alt="{{wear.name}}" class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class = "row">
  <div class="col-xs-12">
    <h1> {{wear.name}}</h1>
  </div>
</div>
<div class ="row">
  <div class = "col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Wear <span class="caret"> </span>
      </button>
      <ul class = "dropdown-menu">
        <li> <a href="#"> Add Wear to Shopping List</a></li>
        <li> <a href="#"> Select a size </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{wear.price}}
  </div>
</div>
