/* You can add global styles to this file, and also import other style files */

#desc{
  font-family: "American Typewriter";
}
#price{
  color:dimgrey;
  font-size: 16px;
}
#welcometext{
  font-family: "Malayalam MN";
  font-size: 18px;
}
